@font-face {
  font-family: 'Graffiti';
  src: url('../src/assets/fonts/graffiti.otf') format('opentype');
}

.font-graffiti {
  font-family: 'Graffiti', sans-serif;
  font-size: 4rem !important;
  font-weight: normal;
  color: var(--bs-gray-500) !important;

  &:hover {
    color: var(--bs-primary) !important;
    opacity: 0.4;
  }

  &.active {
    color: var(--bs-primary) !important;
  }
}
