// colors
$primary: #ff3333;
$secondary: #647d8f;
$success: #72a372;
$info: #13101c;
$warning: #ccae8f;
$danger: $primary;
$light: #f8f9fa;
$dark: #907bd7;


// border-radius
$border-radius-default: 2rem;
$border-radius-highlight: 0.66rem;
