.content-editable-container {
  //background-color: rgba(210, 210, 210, 0.19);
  border-radius: 25px;
}

.content-editable {
  height: calc(100vh - 450px);
  min-height: 400px;
  position: relative;
  overflow: auto;
}

