<div class="container-fluid">
  <nav class="navbar navbar-expand .navbar-fixed-top">
    <a class="navbar-brand font-graffiti" href="#">
      <img src="assets/images/roboman_logo.png" class="gradient-bg ms-1" width="100px" height="100px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link font-graffiti ">run</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-graffiti active" href="#">define</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-graffiti" href="#">configure</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div role="main" style="margin-top: 7.5rem;">
  <router-outlet></router-outlet>
</div>
