<div class="content-container px-4">
  <div class="row" style="height: 600px">
    <div class="col">
      <div class="d-flex">
        <div class="glowing-border me-3 bg-grey-transparent p-3" style="border-left: none; border-top: none; box-shadow: none; height: 185px ">
          <i class="mx-auto fa-solid fa-gears menu-icon d-block mb-2"></i>
          <i class="mx-auto fa-solid fa-key menu-icon d-block mb-2"></i>
          <i class="mx-auto fa-solid fa-clipboard-check menu-icon d-block mb-2"></i>
        </div>

        <div class="flex-grow-1 ">

          <div style="border-right: none; border-top: none; box-shadow: none"  class="glowing-border bg-grey-transparent p-5 pt-3">

            <div class="mb-3">
              <i class="fa-solid fa-gears menu-icon me-2" style="border-color: #c59d4c; color: #c59d4c;"></i>
              <i class="fa-solid fa-key menu-icon me-2" style="border-color: #4659ce; color: #4659ce;"></i>
              <i class="fa-solid fa-clipboard-check menu-icon me-2" style="border-color: #be1cba; color: #be1cba;"></i>
              <i class="fa-solid fa-xmark menu-icon me-2 ms-5" style="border-color: #ff3333; color: #ff3333;"></i>
              <i class="fa-solid fa-check menu-icon me-2" style="border-color: #2a772a; color: #2a772a"></i>
            </div>

            <div class="content-editable p-5" contenteditable="true" style="background-color: rgba(66,66,66,0.36); border-radius: 60px">

            <pre class="fs-regular">
*** keywords ***

  gaga
    tröööööt

          </pre>
          </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

