.content-container {
  color: white;
}

.bg-grey-transparent {
  background-color: rgba(33, 33, 33, 0.9);
}

.content-editable {
  min-height: 675px;
}

.glowing-border {
  border: 3px solid #ff3333;
  border-radius: 60px;
  outline: none;
  box-shadow: 0 0 5px #ff3333;

  &:focus {
    outline: none;
    box-shadow: 0 0 15px #647d8f;
  }

  & > div.content-editable {
    box-shadow: 0 0 15px #647d8f;
  }
}

.menu-icon {
  padding: 0.75rem;
  border: solid 3px #d39a0c;
  border-radius: 50%;
}

.content-editable {
  background-color: rgba(66, 66, 66, 0.36);
  border-radius: 60px;
  max-height: 600px;
  overflow: auto;
}
