@import '~@circlon/angular-tree-component/css/angular-tree-component.css';
@import "scss/fonts";

@import "scss/bootstrap-custom";
@import "scss/variables";
@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "scss/scrollbar";

body {
  background-color: $gray-900 !important;
  background: url("assets/images/robotman_banner.png") left 5px bottom -5px no-repeat fixed,
  url("assets/images/robotman_m.png") right 0 top 0px no-repeat fixed;
  color: $gray-400;
}

.border {
  border: 4px solid !important;
  border-radius: $border-radius-default;
  outline: none;

  &.border-primary {
    border-color: $gray-700 !important;
  }

  &.highlight-top-left {
    border-top-left-radius: $border-radius-highlight;
  }

  &.highlight-top-right {
    border-top-right-radius: $border-radius-highlight;
  }
}

.bg-dark {
  background-color: rgba(52, 58, 64, 1) !important;
}

.bg-dark-900 {
  background-color: rgba(52, 58, 64, 0.9) !important;
}

.bg-light {
  background-color: rgba(206, 212, 218, 0.9) !important;
}

.bg-light-900 {
  background-color: rgba(108, 117, 125, 0.8) !important;
}
