@import '~@circlon/angular-tree-component/css/angular-tree-component.css';
@import "scss/fonts";

@import "scss/variables";
@import "./node_modules/bootstrap/scss/bootstrap.scss";


body {
  background-color: #2c2c2c !important;
  background: url("assets/images/robotman_banner.png") left 5px bottom -5px no-repeat fixed,
              url("assets/images/robotman_m.png") right 2% top 5% no-repeat fixed;
}



/* width */
::-webkit-scrollbar {
  height: 80%;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background: #ff3333;
  border-radius: 10px;
  height: 70%;
}
